html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    color: #ededed;
    background: #081b29 ;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #122b3c;
   
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 35, 48);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10% 0;
   
}

.home-content{
      max-width: 600px;
       color: white;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
    font-size: 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content span {
  color: #0ef; 
}

.profile-photo{
    display: flex;
     align-items: center;

}

.profile-photo img {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00bcd4; /* accent color */
  box-shadow: 0 0 50px rgba(0, 188, 212, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 100px;
}

.profile-photo img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 70px rgba(3, 218, 246, 0.8);
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .7s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
} 

.home-sci a:hover{
     background-color: #0ef;
     color: #081b29;
     box-shadow: 0 0 20px #0ef;
}

.btn-box{
   display: inline-block;
   padding: 12px 28px;
   background-color: #0ef;
   border-radius: 40px;
   font-size: 16px;
   color: #081b29;
   letter-spacing: 1px;
   text-decoration: none;
   font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 10px #0ef;
}

.btn-box:hover{
    box-shadow: 0 0 20px cyan;
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    /* gap: 1.5rem; */
    margin-right: 50px;
    margin-bottom: 20px;
}

.about-photo img {
  max-width: 350px;
  height: auto;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00bcd4;
  box-shadow: 0 0 50px rgba(0, 188, 212, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
   margin: 150px;
}

.about-photo img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 70px rgba(3, 218, 246, 0.8);
}

.about-text h2{
   font-size: 50px;
   margin-top: 80px;
   animation: slideRight 1s ease forwards;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 10px 0 10px;
     animation: slideTop 1s ease forwards;
}
.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 3rem;
     animation: slideRight 1s ease forwards;
}

.services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
     background-color: rgb(3, 35, 48);
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));            
    
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    /* animation: slideTop 1s ease forwards;
    animation-delay: 1s; */
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i)); 
    box-shadow: 0 0 5px #0ef;
}
.read:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.services-list div:hover{
    transform: translateY(-15px) !important;
    transition: all 0.5s ease;
}

.sub-titled span{
    color: #0ef;
}

.container1 {
  width: 100%;
  padding: 60px 10%;
  background-color: #041e27;
  margin-bottom: 90px;
}

.Technical-bars {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #062c33;
  padding: 25px;
  border-radius: 20px;
  width: 180px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));             
}

.bar:hover {
  transform: translateY(-10px) !important;
  box-shadow: 0 0 50px rgb(255, 9, 9);
 
}

.bar i {
  font-size: 50px;
  margin-bottom: 15px;
}

.info span {
  font-size: 20px;
  font-weight: 600;
  color: #0ef;
  letter-spacing: 1px;
}


.progress-line {
  position: relative;
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
}

.progress-line span {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  background: #0ef;
  width: 0%;
  animation: progressAnim 2s ease forwards;
}


@keyframes progressAnim {
  from { width: 0%; }
  to { width: var(--width); }
}


@media (max-width: 768px) {
  .Technical-bars {
    gap: 30px;
  }
  .bar {
    width: 150px;
  }
}

.projects {
  background-color: rgb(3, 35, 48);
  padding: 100px 10%;
  color: #fff;

}

.projects-container {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
   align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.project-box {
  background-color: #0a2a3b;
  border-radius: 20px;
  padding: 30px;
  flex: 1 1 30%;
  min-width: 300px;
  box-shadow: 0 0 25px #0ef;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  text-align: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));  
}

.project-box:hover {
  transform: translateY(-10px) !important;
  box-shadow: 0 0 40px #0ef;
    transition: all 0.5s ease;
}
.project-box video {
  width: 100%;
  height: 180px;
  border-radius: 15px;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0, 238, 255, 0.4);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-box:hover video {
  transform: scale(1.03);
  box-shadow: 0 0 30px rgba(0, 238, 255, 0.6);
}
.project-box h3 {
  font-size: 22px;
  color: #0ef;
  margin-bottom: 10px;
}
.project-box p {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 20px;
}
.project-box .btn {
  display: inline-block;
  padding: 10px 25px;
  background: #0ef;
  color: #081b29;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i)); 
}
.project-box .btn:hover {
  box-shadow: 0 0 15px #0ef, 0 0 30px #0ef;
}

.contact{
            max-width: 1400px;
            margin: 0 auto;
            padding: 40px 20px;
            flex: 1;
        }

        .contact-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 80px;
            align-items: start;
        }

        .left-content h1 {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 30px;
            margin: 40px;
            line-height: 1.2;
        }

        .left-content h1 .highlight {
            color: #0ef
        }

        .left-content h2 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 20px;
            margin-left: 40px;
        }

        .left-content p {
            color: #6b91a5;
            line-height: 1.8;
            margin-bottom: 40px;
            font-size: 16px;
             margin-left: 40px;
        }

        .contact-info {
            margin-bottom: 50px;
            margin-left: 40px;
        }

        .contact-item {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 15px;
            font-size: 16px;
        }

        .contact-item svg {
            width: 20px;
            height: 20px;
            fill: #0ef;
        }

        .social-icons {
            display: flex;
            gap: 20px;
            margin-left: 40px;
        }

        .social-btn {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid #0ef;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-bottom: 70px;
        }

        .social-btn:hover {
            background: #0ef;
            transform: translateY(-3px);
            box-shadow: 0 5px 20px rgba(0, 217, 255, 0.4);
        }

        .social-btn svg {
            width: 24px;
            height: 24px;
            fill: #0ef;
            transition: fill 0.3s ease;
        }

        .social-btn:hover svg {
            fill: var(--color-dark-bg);
        }

        .right-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 40px;
            margin-right: 60px;
        }

        .form-group {
            width: 100%;
        }

        .form-input,
        .form-textarea {
            width: 100%;
            padding: 18px 20px;
            background: #5a6b75;
            border: none;
            border-radius: 8px;
            color: #2c3e4a;
            font-size: 16px;
            font-family: inherit;
            transition: all 0.3s ease;
        }

        .form-input::placeholder,
        .form-textarea::placeholder {
            color: var(--color-input-text);
        }

        .form-input:focus,
        .form-textarea:focus {
            outline: none;
            background: #687881;
            box-shadow: 0 0 0 3px #0ef;
        }

          .form-input:hover,
        .form-textarea:hover {
            outline: none;
            background: #b1bfc9;
            /* box-shadow: 0 0 0 2px #0ef; */
        }

        .form-textarea {
            resize: vertical;
            min-height: 150px;
        }

        .submit-btn {
            width: 100%;
            padding: 18px;
            background: #00d9ff;
            color: #0a1e2e;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            text-transform: capitalize;
            box-shadow: 0 8px 30px rgba(0, 217, 255, 0.5);
        }

        .submit-btn:hover {
            transform: translateY(-2px);
            box-shadow: 0 12px 40px rgba(0, 217, 255, 0.7);
        }

        .submit-btn:active {
            transform: translateY(0);
        }

        footer {
            text-align: center;
            padding: 30px 20px;
            color: var(--color-text-gray);
            font-size: 14px;
            background: rgba(0, 0, 0, 0.2);
        }

        .scroll-top {
            position: fixed;
            bottom: 30px;
            right: 30px;
            width: 50px;
            height: 50px;
            background:  #9cafbc;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 1px 40px rgb(5, 178, 236);
            transition: all 0.3s ease;
        }

        .scroll-top:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 30px rgba(0, 217, 255);
            background-color: #0ef;
        }

        .scroll-top svg {
            width: 24px;
            height: 24px;
            fill: #0a1e2e;
        }

        @media (max-width: 968px) {
            .contact-section {
                grid-template-columns: 1fr;
                gap: 50px;
            }

            .left-content h1 {
                font-size: 36px;
            }

            .left-content h2 {
                font-size: 24px;
            }
        }

        @media (max-width: 480px) {
            .left-content h1 {
                font-size: 28px;
            }

            .social-btn {
                width: 45px;
                height: 45px;
            }
        }

        /* Hide elements initially */
.slideLeft,
.slideRight,
.slideTop,
.slideBottom {
  opacity: 0;
  transition: all 0.8s ease-out;
}

/* When visible (add animation keyframes) */
.slideLeft.show {
  animation: slideLeft 1s ease forwards;
}

.slideRight.show {
  animation: slideRight 1s ease forwards;
}

.slideTop.show {
  animation: slideTop 1s ease forwards;
}

.slideBottom.show {
  animation: slideBottom 1s ease forwards;
}




@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}